In [1]:
import pandas as pd
df = pd.read_csv ('COVID19_line_list_data.csv')
df

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,...,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,...,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,1/21/2020,NaN,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,...,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,...,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,...,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,1081,2.0,2/25/2020,NaN,"new COVID-19 patient confirmed in Austria: 24,...",Innsbruck,Austria,NaN,24.0,NaN,...,0,NaN,Jakarta Post,https://www.thejakartapost.com/news/2020/02/25...,NaN,NaN,NaN,NaN,NaN,NaN
1081,1082,1.0,2/24/2020,NaN,new COVID-19 patient confirmed in Afghanistan:...,Afghanistan,Afghanistan,NaN,35.0,NaN,...,0,NaN,Fox News,https://www.foxnews.com/health/afghanistan-fir...,NaN,NaN,NaN,NaN,NaN,NaN
1082,1083,1.0,2/26/2020,NaN,new COVID-19 patient confirmed in Algeria: mal...,Algeria,Algeria,male,NaN,NaN,...,0,NaN,South China Morning Post,https://www.scmp.com/news/china/society/articl...,NaN,NaN,NaN,NaN,NaN,NaN
1083,1084,1.0,2/25/2020,NaN,new COVID-19 patient confirmed in Croatia: mal...,Croatia,Croatia,male,NaN,NaN,...,0,NaN,Reuters,https://www.reuters.com/article/us-croatia-cor...,NaN,NaN,NaN,NaN,NaN,NaN
1084,1085,1.0,2/25/2020,NaN,new COVID-19 patient confirmed in Switzerland:...,Bern,Switzerland,male,70.0,2/17/2020,...,0,NaN,Reuters,https://www.reuters.com/article/uk-switzerland...,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd
df2 = pd.read_csv ('COVID19_open_line_list.csv')
df2

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1.0,30,male,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,47,male,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,49,male,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,47,female,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,50,female,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
esymptoms = pd.read_csv ('COVID19_line_list_data.csv')
esymptoms= esymptoms.dropna(subset = ['symptom'])
esymptoms= esymptoms.dropna(subset = ['age'])
esymptoms

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
194,195,NaN,1/27/2020,NaN,new recovered COVID-19 pneumonia patient in Hu...,Hubei,China,female,28.0,01/07/20,...,1,"feaver, cough, difficult in breathing",人民日报,https://m.weibo.cn/status/4465382079294013?,NaN,NaN,NaN,NaN,NaN,NaN
195,196,NaN,1/27/2020,NaN,new recovered COVID-19 pneumonia patient in Hu...,Hubei,China,female,51.0,NaN,...,1,"feaver, cough, difficult in breathing",人民日报,https://m.weibo.cn/status/4465382079294013?,NaN,NaN,NaN,NaN,NaN,NaN
196,197,NaN,1/27/2020,NaN,new recovered COVID-19 pneumonia patient in Sh...,Shandong,China,male,37.0,NaN,...,1,fever,人民日报,https://m.weibo.cn/status/4465385308652598?,NaN,NaN,NaN,NaN,NaN,NaN
236,237,1.0,1/15/2020,NaN,"new confirmed COVID-19 patient in Japan: male,...",Kanagawa,Japan,male,35.0,01/03/20,...,1/15/2020,fever,HK World-Japan,https://www3.nhk.or.jp/nhkworld/en/news/202001...,NaN,NaN,NaN,NaN,NaN,NaN
240,241,5.0,1/28/2020,NaN,"new confirmed COVID-19 patient in Japan: male,...",Aichi Prefecture,Japan,male,45.0,1/22/2020,...,0,fever,Kyodo News,https://english.kyodonews.net/news/2020/01/e8f...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,964,93.0,2/27/2020,NaN,new confirmed COVID-19 patient in Hong Kong: f...,Hong Kong,Hong Kong,female,89.0,2/25/2020,...,0,cough,Government HK,https://www.info.gov.hk/gia/general/202002/26/...,NaN,NaN,NaN,NaN,NaN,NaN
992,993,1.0,02/02/20,NaN,new confirmed COVID-19 patient in Philippines:...,Manila,Phillipines,male,44.0,1/25/2020,...,0,"fever, cough, sore throat",Department of Health,https://www.doh.gov.ph/press-release/DOH-revea...,NaN,NaN,NaN,NaN,NaN,NaN
995,996,1.0,1/29/2020,NaN,new confirmed COVID-19 patient in Finland: fem...,Lapland,Finland,female,32.0,1/26/2020,...,0,fever,HBL,https://www.hbl.fi/artikel/ett-fall-av-coronav...,NaN,NaN,NaN,NaN,NaN,NaN
1006,1007,11.0,2/26/2020,NaN,new confirmed COVID-19 patient in Spain: Barce...,Barcelona,Spain,male,22.0,NaN,...,0,"sore throat, fever",The Local,https://www.thelocal.es/20200226/covid-19-what...,NaN,NaN,NaN,NaN,NaN,NaN
1030,1031,1.0,1/31/2020,NaN,new confirmed COVID-19 patient in Sweden: fema...,Jonkoping,Sweden,female,25.0,1/27/2020,...,0,cough,Politico,https://www.politico.eu/article/coronavirus-ca...,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ages=esymptoms[['age']]
print(ages)

       age
194   28.0
195   51.0
196   37.0
236   35.0
240   45.0
...    ...
963   89.0
992   44.0
995   32.0
1006  22.0
1030  25.0

[265 rows x 1 columns]

In [5]:
symptoms= esymptoms[['symptom']]
print(symptoms)

                                    symptom
194   feaver, cough, difficult in breathing
195   feaver, cough, difficult in breathing
196                                   fever
236                                   fever
240                                   fever
...                                     ...
963                                   cough
992               fever, cough, sore throat
995                                   fever
1006                     sore throat, fever
1030                                  cough

[265 rows x 1 columns]

In [6]:
age_sympt=pd.concat([ages, symptoms], axis=1)
age_sympt

       age                                symptom
194   28.0  feaver, cough, difficult in breathing
195   51.0  feaver, cough, difficult in breathing
196   37.0                                  fever
236   35.0                                  fever
240   45.0                                  fever
...    ...                                    ...
963   89.0                                  cough
992   44.0              fever, cough, sore throat
995   32.0                                  fever
1006  22.0                     sore throat, fever
1030  25.0                                  cough

[265 rows x 2 columns]

In [7]:
age_sympt.to_csv('age_sympt.csv',index=False)

In [8]:
pd.read_csv ('age_sympt.csv')

      age                                symptom
0    28.0  feaver, cough, difficult in breathing
1    51.0  feaver, cough, difficult in breathing
2    37.0                                  fever
3    35.0                                  fever
4    45.0                                  fever
..    ...                                    ...
260  89.0                                  cough
261  44.0              fever, cough, sore throat
262  32.0                                  fever
263  22.0                     sore throat, fever
264  25.0                                  cough

[265 rows x 2 columns]

In [9]:
age_sympt

       age                                symptom
194   28.0  feaver, cough, difficult in breathing
195   51.0  feaver, cough, difficult in breathing
196   37.0                                  fever
236   35.0                                  fever
240   45.0                                  fever
...    ...                                    ...
963   89.0                                  cough
992   44.0              fever, cough, sore throat
995   32.0                                  fever
1006  22.0                     sore throat, fever
1030  25.0                                  cough

[265 rows x 2 columns]

In [10]:
age_sympt=age_sympt.sort_values('age')
age_sympt

      age                        symptom
430   4.0              fever, cough, flu
418   5.0                   fever, cough
416   5.0                   fever, cough
315   5.0                          fever
339  15.0    fever, sore throat, malaise
..    ...                            ...
262  85.0                        fatigue
395  85.0  fever, cough, sputum, dyspnea
291  85.0               fever, pneumonia
421  85.0                   cough, fever
963  89.0                          cough

[265 rows x 2 columns]

In [11]:
age_sympt.to_csv('age_sympt.csv',index=False)

In [12]:
import pandas as pd

age_sympt = age_sympt.reset_index(drop = True)
age_sympt

      age                        symptom
0     4.0              fever, cough, flu
1     5.0                   fever, cough
2     5.0                   fever, cough
3     5.0                          fever
4    15.0    fever, sore throat, malaise
..    ...                            ...
260  85.0                        fatigue
261  85.0  fever, cough, sputum, dyspnea
262  85.0               fever, pneumonia
263  85.0                   cough, fever
264  89.0                          cough

[265 rows x 2 columns]

In [13]:
dic = {'0-17': {'symptom_names':[], 'counter_values':[]}, 
       '18-49':{'symptom_names':[], 'counter_values':[]}, 
       '50-64':{'symptom_names':[], 'counter_values':[]},
       '65+':{'symptom_names':[], 'counter_values':[]}}
for index in age_sympt.index:
    age = age_sympt['age'][index]
    age_symptoms = age_sympt['symptom'][index].split(', ')
    if (age >= 0 and age <= 17):
        for ind in age_symptoms:
            if (ind in dic['0-17']['symptom_names']):
                dic['0-17']['counter_values'][dic['0-17']['symptom_names'].index(ind)] += 1
            else:
                dic['0-17']['counter_values'].append(1)
                dic['0-17']['symptom_names'].append(ind)
    if (age >= 18 and age <= 49):
        for ind in age_symptoms:
            if (ind in dic['18-49']['symptom_names']):
                dic['18-49']['counter_values'][dic['18-49']['symptom_names'].index(ind)] += 1
            else:
                dic['18-49']['counter_values'].append(1)
                dic['18-49']['symptom_names'].append(ind)
    if (age >= 50 and age <= 64):
        for ind in age_symptoms:
            if (ind in dic['50-64']['symptom_names']):
                dic['50-64']['counter_values'][dic['50-64']['symptom_names'].index(ind)] += 1
            else:
                dic['50-64']['counter_values'].append(1)
                dic['50-64']['symptom_names'].append(ind)
    else:
        for ind in age_symptoms:
            if (ind in dic['65+']['symptom_names']):
                dic['65+']['counter_values'][dic['65+']['symptom_names'].index(ind)] += 1
            else:
                dic['65+']['counter_values'].append(1)
                dic['65+']['symptom_names'].append(ind)
    
print(dic['0-17'])
for ind in list(dic.keys()):
    dic[ind] = pd.DataFrame(data = dic[ind])

dic['0-17'] = dic['0-17'].sort_values('counter_values', ascending=False)
dic['18-49'] = dic['18-49'].sort_values('counter_values', ascending=False)
dic['50-64'] = dic['50-64'].sort_values('counter_values', ascending=False)
dic['65+'] = dic['65+'].sort_values('counter_values', ascending=False)
dic['18-49']

{'symptom_names': ['fever', 'cough', 'flu', 'sore throat', 'malaise', 'runny nose'], 'counter_values': [5, 3, 1, 1, 1, 1]}

             symptom_names  counter_values
0                    fever              67
2                    cough              40
1              sore throat              15
6                 headache               5
11                 malaise               5
9                 diarrhea               5
16              runny nose               5
4               joint pain               5
3                   chills               5
8                 vomiting               4
25             muscle pain               3
28                 fatigue               2
14              chest pain               2
23       throat discomfort               2
7                   nausea               1
22            itchy throat               1
30     shortness of breath               1
29     physical discomfort               1
27                 myalgia               1
26              mild fever               1
24              high fever               1
19                coughing               1
21                myalgias               1
20            muscle aches               1
18  difficult in breathing               1
17                  feaver               1
15                  reflux               1
13               sore body               1
12                  sneeze               1
10          breathlessness               1
5               heavy head               1
31                  sputum               1

In [14]:
dic['0-17'].to_csv('0-17.csv')
dic['18-49'].to_csv('18-49.csv')
dic['50-64'].to_csv('50-64.csv')
dic['65+'].to_csv('65+.csv')